# Copyright (C) 2026 @YorokobiMaster
# SPDX-License-Identifier: Apache-2.0

service dash-power /system_ext/bin/hw/android.hardware.power-service.lineage-libperfmgr
    class hal
    user root
    group system
    priority -20
    disabled

on late-fs
    start dash-power

on property:init.svc.vendor.mtkpower-service.mediatek=stopping
    stop dash-power

on property:init.svc.vendor.mtkpower-service.mediatek=stopped
    stop dash-power

on property:init.svc.vendor.mtkpower-service.mediatek=restarting
    stop dash-power

on property:init.svc.vendor.mtkpower-service.mediatek=running
    start dash-power

on property:init.svc.dash-power=restarting
    restart vendor.mtkpower-service.mediatek
