<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 @YorokobiMaster

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sandai.dashdt2w"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DashDt2wApplication"
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:label="Dash double-tap to wake"
        android:persistent="true" />
</manifest>
