<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 @YorokobiMaster
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sandai.dashaod">

    <uses-permission android:name="android.permission.READ_DREAM_STATE" />
    <uses-permission android:name="com.android.systemui.permission.PLUGIN" />

    <application
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:label="Dash AOD">

        <service
            android:name=".DashAodPlugin"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_DOZE" />
            </intent-filter>
        </service>
    </application>
</manifest>
