<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2026 GitHub @YorokobiMaster
     SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sandai.server.display.tests">
    <application android:label="Dash brightness tests" android:debuggable="true" />
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="me.sandai.server.display.tests" />
</manifest>
