<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 GitHub @YorokobiMaster

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sandai.dashwake"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.OBSERVE_SENSOR_PRIVACY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name=".DashWakeApplication"
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:label="DashWake"
        android:persistent="true">

        <provider
            android:name=".WakeSettingsProvider"
            android:authorities="me.sandai.dashwake.settings"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.WRITE_SECURE_SETTINGS">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.profile"
                android:value="primary_profile_only" />
        </provider>

        <service
            android:name=".aov.DashAovBridgeService"
            android:directBootAware="true"
            android:exported="false"
            android:process=":aov" />
    </application>
</manifest>
