# Copyright (C) 2026 @YorokobiMaster
# SPDX-License-Identifier: Apache-2.0

type dash_power, coredomain, domain;
type dash_power_exec, system_file_type, exec_type, file_type;

init_daemon_domain(dash_power)
hal_server_domain(dash_power, hal_power)
hal_client_domain(dash_power, hal_power)

allow dash_power sysfs_devices_system_cpu:file rw_file_perms;
allow dash_power touchfeature_device:chr_file rw_file_perms;
