# Copyright (C) 2026 @YorokobiMaster
# SPDX-License-Identifier: Apache-2.0

service dash-health /system_ext/bin/hw/dash-health
    class hal
    user system
    group system

on property:dev.bootcomplete=1
    chown system system /sys/class/power_supply/battery/charge_control_start_threshold
    chown system system /sys/class/power_supply/battery/charge_control_end_threshold
    chmod 0660 /sys/class/power_supply/battery/charge_control_start_threshold
    chmod 0660 /sys/class/power_supply/battery/charge_control_end_threshold
