<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 @YorokobiMaster
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sandai.overlay.dash.settings">

    <overlay
        android:isStatic="true"
        android:priority="100"
        android:targetPackage="com.android.settings" />
</manifest>
